<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The HOME PAGE</title>
    <link rel="stylesheet" href="/app.css">
</head>
<body>
    <h1>Home Page <%= 'hello world'.toUpperCase() %> </h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod, veniam. Dolores quasi labore esse optio dignissimos non, fugiat in corrupti sed vero doloribus exercitationem suscipit aperiam at aliquam. Sint, accusantium.
    Iusto error molestias mollitia neque. Harum nulla atque, architecto ad eaque eveniet debitis autem enim, perferendis dolorem veritatis eum blanditiis quidem facere hic maiores iste quos minima, commodi error veniam!
    Cum excepturi quas ipsam. Nesciunt, quia enim asperiores ea facere consectetur, a sequi impedit iste dicta cum ducimus sed vero dolorem aut quas? Et sequi delectus rem rerum modi adipisci.
    Nobis voluptatum voluptatem quos modi soluta eligendi beatae in perferendis ipsum ab unde doloribus nihil quam eveniet, commodi id, accusamus quae quasi? Ratione consequuntur est possimus facilis autem deleniti quisquam?
    Dolore at sapiente officia laborum earum reprehenderit repellendus illo, iure facilis rerum aut debitis beatae dolorum? Facere, commodi blanditiis vel repellat esse quisquam fuga explicabo delectus ea! Cum, tenetur quidem!</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur alias similique maiores eaque, laudantium ipsa exercitationem, repudiandae nesciunt consectetur impedit vitae autem velit perspiciatis nobis expedita voluptatibus, tempore necessitatibus cupiditate?
    Repudiandae neque, modi exercitationem perspiciatis sint inventore cum, voluptate consectetur sequi quae culpa iusto voluptatem nostrum fugit? Totam molestias vitae, nesciunt dolorem soluta inventore delectus laudantium esse hic tempore consequatur!
    Dolor cupiditate optio sit vel eaque amet accusantium, blanditiis dolorem nihil minus corporis velit sed deleniti nemo et pariatur distinctio aut excepturi perferendis quia ad tenetur ipsam sequi quibusdam? Provident.
    Magnam enim quam fuga dolore tenetur, possimus iste dolores, qui aperiam consectetur, quae amet fugit? Fugit omnis blanditiis esse facere, totam at doloremque consequatur atque laborum accusantium voluptatem! Veritatis, libero?
    Expedita accusamus odit dolore eum aliquam nam numquam labore, incidunt quis eos excepturi dolorum cumque exercitationem voluptatum enim nostrum eveniet suscipit. Eveniet eum minima aut corporis molestias, architecto accusamus quidem!
    Accusamus aspernatur quia consequuntur autem explicabo optio, omnis tenetur animi, neque dolor facilis reiciendis impedit? Harum doloremque fugit autem, perspiciatis suscipit, quo optio dicta neque in consequuntur, ducimus aliquid iusto.
    At libero asperiores neque quis earum similique incidunt dolorem impedit esse veniam cupiditate ratione quisquam voluptatem molestiae quibusdam facilis quia, eveniet vero optio exercitationem, atque magni dolore dicta sed! Tenetur?
    Incidunt beatae totam est quasi vitae, hic consequuntur officiis eaque? Quaerat laboriosam quasi mollitia magni sed, suscipit dolorum cum vero soluta? Laborum magnam consequuntur dolorum exercitationem, modi sit nostrum dolore?</p>
</body>
</html>